<section>
    <button class="btn btn-default" ng-click="controller.showAddCommercialAccountModal()">
        add commercial account
    </button>

    <div ng-if="controller.account.id">
        <h4>result:</h4>

        <pre>
            {{controller.account|json}}
        </pre>
    </div>
</section>