<section ng-form="addCommercialAccountReqForm">
    <div class="modal-header">
        <button type="button"
                class="close"
                aria-label="Close"
                ng-click="controller.cancel(addCommercialAccountReqForm)">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Add Account</h4>
    </div>
    <div class="modal-body">
        <div class="form-horizontal">
            <div class="form-group">
                <label
                        for="name"
                        class="col-sm-4 control-label">
                    Account Name
                </label>

                <div class="col-sm-8">
                    <input
                            id="name"
                            name="name"
                            type="text"
                            class="form-control"
                            ng-model="controller.addCommercialAccountReqData.name"
                            ng-required="true"
                            ng-maxlength="40"
                            ng-minlength="1">

                    <div ng-show="addCommercialAccountReqForm.name.$touched||addCommercialAccountReqForm.$submitted">
                        <ng-messages class="help-block" for="addCommercialAccountReqForm.name.$error">
                            <div ng-messages-include="add-commercial-account-modal/error-messages.html"></div>
                        </ng-messages>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label
                        for="address_street"
                        class="col-sm-4 control-label">
                    Street
                </label>

                <div class="col-sm-8">
                    <input
                            id="address_street"
                            name="address_street"
                            type="text"
                            class="form-control"
                            ng-model="controller.addCommercialAccountReqData.address.street"
                            ng-required="true"
                            ng-maxlength="255"
                            ng-minlength="1">

                    <div ng-show="addCommercialAccountReqForm.address_street.$touched||addCommercialAccountReqForm.$submitted">
                        <ng-messages class="help-block" for="addCommercialAccountReqForm.address_street.$error">
                            <div ng-messages-include="add-commercial-account-modal/error-messages.html"></div>
                        </ng-messages>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label
                        for="address_city"
                        class="col-sm-4 control-label">
                    City
                </label>

                <div class="col-sm-8">
                    <input
                            id="address_city"
                            name="address_city"
                            type="text"
                            class="form-control"
                            ng-model="controller.addCommercialAccountReqData.address.city"
                            ng-required="true"
                            ng-maxlength="40"
                            ng-minlength="1">

                    <div ng-show="addCommercialAccountReqForm.address_city.$touched||addCommercialAccountReqForm.$submitted">
                        <ng-messages class="help-block" for="addCommercialAccountReqForm.address_city.$error">
                            <div ng-messages-include="add-commercial-account-modal/error-messages.html"></div>
                        </ng-messages>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label
                        for="address_postalCode"
                        class="col-sm-4 control-label">
                    Postal Code
                </label>

                <div class="col-sm-8">
                    <input
                            id="address_postalCode"
                            name="address_postalCode"
                            type="text"
                            class="form-control"
                            ng-model="controller.addCommercialAccountReqData.address.postalCode"
                            ng-required="true"
                            ng-maxlength="255"
                            ng-minlength="1">

                    <div ng-show="addCommercialAccountReqForm.address_postalCode.$touched||addCommercialAccountReqForm.$submitted">
                        <ng-messages class="help-block" for="addCommercialAccountReqForm.address_postalCode.$error">
                            <div ng-messages-include="add-commercial-account-modal/error-messages.html"></div>
                        </ng-messages>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label
                        for="address_countryCode"
                        class="col-sm-4 control-label">
                    Country
                </label>

                <div class="col-sm-8">
                    <select
                            id="address_countryCode"
                            name="address_countryCode"
                            class="form-control"
                            ng-options="country.alpha2Code as country.name for country in controller.countryList"
                            ng-model="controller.addCommercialAccountReqData.address.countryIso31661Alpha2Code"
                            ng-required="true"
                            ng-change="controller.handleAddressCountryCodeChange()">
                        <option value="">select...</option>
                    </select>

                    <div ng-show="addCommercialAccountReqForm.address_countryCode.$touched||addCommercialAccountReqForm.$submitted">
                        <ng-messages class="help-block" for="addCommercialAccountReqForm.address_countryCode.$error">
                            <div ng-messages-include="add-commercial-account-modal/error-messages.html"></div>
                        </ng-messages>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label
                        for="address_region"
                        class="col-sm-4 control-label">
                    Region
                </label>

                <div class="col-sm-8">
                    <select
                            id="address_region"
                            name="address_region"
                            type="text"
                            class="form-control"
                            ng-options="countrySubdivision.code as countrySubdivision.name for countrySubdivision in controller.countrySubdivisionList"
                            ng-model="controller.addCommercialAccountReqData.address.regionIso31662Code"
                            ng-required="true"
                            ng-readonly="!controller.addCommercialAccountReqData.address.countryIso31661Alpha2Code"
                            ng-disabled="!controller.addCommercialAccountReqData.address.countryIso31661Alpha2Code">
                        <option value="">select...</option>
                    </select>

                    <div ng-show="addCommercialAccountReqForm.address_region.$touched||addCommercialAccountReqForm.$submitted">
                        <ng-messages class="help-block" for="addCommercialAccountReqForm.address_region.$error">
                            <div ng-messages-include="add-commercial-account-modal/error-messages.html"></div>
                        </ng-messages>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label
                        for="phoneNumber"
                        class="col-sm-4 control-label">
                    Phone Number
                </label>

                <div class="col-sm-8">
                    <input
                            id="phoneNumber"
                            name="phoneNumber"
                            type="tel"
                            class="form-control"
                            ng-model="controller.addCommercialAccountReqData.phoneNumber"
                            ng-required="true"
                            ng-maxlength="20"
                            ng-minlength="4">

                    <div ng-show="addCommercialAccountReqForm.phoneNumber.$touched||addCommercialAccountReqForm.$submitted">
                        <ng-messages class="help-block" for="addCommercialAccountReqForm.phoneNumber.$error">
                            <div ng-messages-include="add-commercial-account-modal/error-messages.html"></div>
                        </ng-messages>
                    </div>
                </div>
            </div>
            <section>
                <div class="form-group">
                    <label
                            for="brand"
                            class="col-sm-4 control-label">
                        Brand
                    </label>

                    <div class="col-sm-8">
                        <select
                                id="brand"
                                name="brand"
                                class="form-control"
                                ng-options="customerBrand.id as customerBrand.name for customerBrand in controller.level1CustomerBrandList"
                                ng-model="controller.selectedLevel1CustomerBrandId"
                                ng-change="controller.handleCustomerBrandIdChange()">
                            <option value="">select...</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label
                            for="subBrand"
                            class="col-sm-4 control-label">
                        Sub-brand
                    </label>

                    <div class="col-sm-8">
                        <select
                                id="subBrand"
                                name="subBrand"
                                class="form-control"
                                ng-options='level2CustomerBrand.id as level2CustomerBrand.name for level2CustomerBrand in controller.filteredLevel2CustomerBrandList'
                                ng-model="controller.addCommercialAccountReqData.customerBrandId"
                                ng-readonly="!controller.selectedLevel1CustomerBrandId || controller.filteredLevel2CustomerBrandList.length < 1"
                                ng-disabled="!controller.selectedLevel1CustomerBrandId || controller.filteredLevel2CustomerBrandList.length < 1">
                            <option value="">select...</option>
                        </select>
                    </div>
                </div>
            </section>
            <section ng-if="!controller.selectedLevel1CustomerBrandId">
                <div class="form-group">
                    <label
                            for="level1CustomerSegment"
                            class="col-sm-4 control-label">
                        Segmentation Level1
                    </label>

                    <div class="col-sm-8">
                        <select
                                id="level1CustomerSegment"
                                name="level1CustomerSegment"
                                class="form-control"
                                ng-options="level1CustomerSegment.id as level1CustomerSegment.name for level1CustomerSegment in controller.level1CustomerSegmentList"
                                ng-model="controller.selectedLevel1CustomerSegmentId"
                                ng-change="controller.handleLevel1CustomerSegmentIdChange()"
                                ng-required="true">
                            <option value="">select...</option>
                        </select>

                        <div ng-show="addCommercialAccountReqForm.level1CustomerSegment.$touched||addCommercialAccountReqForm.$submitted">
                            <ng-messages class="help-block" for="addCommercialAccountReqForm.level1CustomerSegment.$error">
                                <div ng-messages-include="add-commercial-account-modal/error-messages.html"></div>
                            </ng-messages>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label
                            for="level2CustomerSegment"
                            class="col-sm-4 control-label">
                        Segmentation Level2
                    </label>

                    <div class="col-sm-8">
                        <select
                                id="level2CustomerSegment"
                                name="level2CustomerSegment"
                                class="form-control"
                                ng-options='level2CustomerSegment.id as level2CustomerSegment.name for level2CustomerSegment in controller.filteredLevel2CustomerSegmentList'
                                ng-model="controller.selectedLevel2CustomerSegmentId"
                                ng-change="controller.handleLevel2CustomerSegmentIdChange()"
                                ng-required="controller.filteredLevel2CustomerSegmentList.length > 0"
                                ng-readonly="!controller.selectedLevel1CustomerSegmentId || controller.filteredLevel2CustomerSegmentList.length < 1"
                                ng-disabled="!controller.selectedLevel1CustomerSegmentId || controller.filteredLevel2CustomerSegmentList.length < 1">
                            <option value="">select...</option>
                        </select>

                        <div ng-show="addCommercialAccountReqForm.level2CustomerSegment.$touched||addCommercialAccountReqForm.$submitted">
                            <ng-messages class="help-block" for="addCommercialAccountReqForm.level2CustomerSegment.$error">
                                <div ng-messages-include="add-commercial-account-modal/error-messages.html"></div>
                            </ng-messages>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label
                            for="level3CustomerSegment"
                            class="col-sm-4 control-label">
                        Segmentation Level3
                    </label>

                    <div class="col-sm-8">
                        <select
                                id="level3CustomerSegment"
                                name="level3CustomerSegment"
                                class="form-control"
                                ng-options='level3CustomerSegment.id as level3CustomerSegment.name for level3CustomerSegment in controller.filteredLevel3CustomerSegmentList'
                                ng-model="controller.addCommercialAccountReqData.customerSegmentId"
                                ng-required="controller.filteredLevel3CustomerSegmentList.length > 0"
                                ng-readonly="!controller.selectedLevel2CustomerSegmentId || controller.filteredLevel3CustomerSegmentList.length < 1"
                                ng-disabled="!controller.selectedLevel2CustomerSegmentId || controller.filteredLevel3CustomerSegmentList.length < 1">
                            <option value="">select...</option>
                        </select>

                        <div ng-show="addCommercialAccountReqForm.level3CustomerSegment.$touched||addCommercialAccountReqForm.$submitted">
                            <ng-messages class="help-block" for="addCommercialAccountReqForm.level3CustomerSegment.$error">
                                <div ng-messages-include="add-commercial-account-modal/error-messages.html"></div>
                            </ng-messages>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-sm-4">
                <button
                        class="btn btn-default btn-block"
                        type="button"
                        ng-click="controller.saveAndClose(addCommercialAccountReqForm)">
                    save and close
                </button>
            </div>
            <div class="col-sm-4">
                <button
                        class="btn btn-default btn-block"
                        type="button"
                        ng-click="controller.cancel(addCommercialAccountReqForm)">
                    cancel
                </button>
            </div>
        </div>
    </div>
</section>